/*------------------*/
/*      Header      */
/*------------------*/
.navbar{
  margin-bottom: 0px;
}

/*----------------*/
/*      Body      */
/*----------------*/

body {
     padding-bottom: 40px;
}

/*----------------*/
/*      Home      */
/*----------------*/

/* Home Hero Image */
.home-hero{
  height: 350px;
  background: no-repeat center center;
  -webkit-filter: hue-rotate(350deg);
  filter: hue-rotate(350deg);

}


.home-hero-info{
  margin: 100px 0 0 0;
}
.home-hero-info h1{
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  color: #000;
  font-size: 70px;
  font-weight:700;
  color:#A60D10;
  background: rgba(255,255,255, 0.8);
}

.home-hero-info h6{
  font-size: 50px;
  margin-top: 30px;
  padding-top:10px;
  margin-bottom:20px;
  padding-bottom:10px;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-weight: 600;
  background-color: rgba(255,255,255, 0.8);
  border-radius: 10px;
}

.home-hero-info p{
  font-size:30px;
  margin-top:0px;
  text-align:center;
}

/* Home CTA Section */
.home-cta h2{
    text-align: center;
}
.home-cta p{
    text-align: justify;
}
.home-cta p a{
    margin: 0 0 0 32%;
}
/* home-two container Section */
.home-two{
    align-items: center;
}

/* Homestar Section */
.homestar {
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-filter: saturate(1);
  filter: saturate(1);
  color: #A60D10;

}
.homestar p{
  font-family:'Bungee Shade', cursive;
  font-size:90px;
  text-align:center;
  color: #A60D10;
  background-color: rgba(255,255,255, 0.1);
  margin-top:0px;
  -webkit-filter: saturate(0);
  filter: saturate(0);
}

.classy {
  text-align: center;
  color:#fff;
  font-family:'Bungee Shade', cursive;
  font-size:30px;
  text-align:center;
  margin-top:215px;
  padding:8 0 8 0;
  -webkit-filter: saturate(1);
  filter: saturate(1);

}
.bloggity {
  text-align:center;
  margin-top:-79px;
}
.bloggity h1 a{
  font-family: 'Sacramento', cursive;
  font-weight:bold;
  font-size:50px;
  color:#55bddd;
}
.bloggity h2{
  color:#A60D10;
}
.bloggity p {
  color:#000;
  text-align: center;
}


/*----------------*/
/* Media Queries  */
/*----------------*/

@media only screen and (max-device-width: 480px) {

.classy {
  font-size:60px;
}

.home-two{
  font-size:40px;
}


}


/*----------------*/
/*      Button    */
/*----------------*/

.home-two button{
  background-color: #A60D10;
  color: white;
  border-radius: 10px;
  margin-top:12px;
  padding: 10 10 10 10;
  margin: 8 0 8 0;
  font-family: 'Sacramento', cursive;
  font-size:40px;
  transition: 0.3s;
}

.home-two button:hover{
  background-color:#fff;
  color:#A60D10;
}

.home-two p {
  background-color: #448bab;
  border-radius: 10px;
  text-align: center;
}

.breaker{
  background-color: #FBF3DE;
  margin-top: -14;
  width: auto;
  height: 16px;

}

.rockin{
  margin-left:50px;
}

.page-header h1{
  font-family: 'Sacramento', cursive;
  font-weight:800;
  font-size:45px;
  padding-left: 15px;
}

.glyphicon{
  padding-left: 20px;
  color:#fff;
}
/*-----------------*/
/*      Media      */
/*-----------------*/
@media all and (max-width: 400px){
    /* Hero Image Text */
    .home-hero-info {
      margin: 75px 0 0 0;
  }
  .home-cta p{
    padding-left:5px;
    margin-right:5px;
  }
}

/*----------------*/
/*  Navigation    */
/*----------------*/

#navmenu {
 display: block;
 font-weight:900;
 background-color: #FBF3DE;
 color:#000;
 padding-bottom:20px;
 position:fixed;
 width:100%;
}

#navmenu li{
  display:inline;
  margin-left: 44px;
  font-family:'Helvetica Neue';
  font-size: 20px;
  padding-top:10px;

}
